body{
	margin: 0 auto;
}

.dv_all{
	width: 100%;
	height: 1000px;
	overflow: hidden;
}

.content{
	height:500px;
	color: #fff;
	position: relative;
	top:10%;
	left:10%;
}

.content p{
	color: #ffbb00;
}


#dv1{
	background: url(../image/img01.jpg) 50% 0 no-repeat fixed;
}

#dv2{
	background: url(../image/img02.jpg) 50% 0 no-repeat fixed;	
}

#dv3{
	background: url(../image/img03.jpg) 50% 0 no-repeat fixed;
}

#dv4{
	background: url(../image/img04.jpg) 50% 0 no-repeat fixed;
}