/* CSS -------------------------------------------- */

body{
	background: #C06926;
	background-size: contain;
	font-family: "Microsoft JhengHei", sans-serif;
	font-size: 14px;
}
#main{
	width:100%;
	margin:0 auto;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-right: 0px;
	padding-left: 0px;
}

footer{
	width: 100%;
	background: url(../images/img/main_26.svg);
	overflow: hidden;
}
footer p{
	color: #f4E8D1;
	text-align: center;
	font-size: 14px;
	font-weight: normal;
	margin: 25px 0 20px 0;
}
.boxtitle{
	font-size: 20px;
	margin: 15px 0;
	color: #4A2E2B;
}

/* -- MENU -- */
#roll {
	display:block;
	position:fixed;
	left:2%;
	list-style-type:none;
	z-index: 10;
}

.a70:hover{
	opacity: 0.7;
}
.a00{
	opacity: 0;
}

.burger-box {
	z-index: 999;
	position: fixed;
	top: 15px;
	left: 20px;
	display: none;
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.burger {
	content: '';
	font-size: 0px;
	user-select: none;
	position: absolute;
	top: 50%;
	left: 0;
	width: 24px;
	height: 4px;
	background: #ffbb00;
	transition: background 0.3s, transform 0.3s, top 0.3s;
}
.burger:before {
	position: absolute;
	top: 50%;
	left: 0;
	width: 24px;
	height: 4px;
	background: #ffbb00;
	transition: background 0.3s, transform 0.3s, top 0.3s;
	top: -8px;
	left: 0;
	content: "";
}
.burger:after {
	position: absolute;
	top: 50%;
	left: 0;
	width: 24px;
	height: 4px;
	background: #ffbb00;
	transition: background 0.3s, transform 0.3s, top 0.3s;
	top: 8px;
	left: 0;
	content: "";
}

.is-open .burger {
	-webkit-transform: translateX(220px);
	-moz-transform: translateX(220px);
	-ms-transform: translateX(220px);
	-o-transform: translateX(220px);
	transform: translateX(220px);
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	transition: all 0.25s linear;
	background: transparent;
}
.is-open .burger:before {
	top: 0;
	transform: rotateZ(-45deg);
}
.is-open .burger:after {
	top: 0;
	transform: rotateZ(45deg);
}

.sliding-nav {
	position: fixed;
	top: 0px;
	right: auto;
	bottom: 0px;
	left: 0px;
	height: 100%;
	width: 220px;
	-webkit-transform: translateX(-220px);
	-moz-transform: translateX(-220px);
	-ms-transform: translateX(-220px);
	-o-transform: translateX(-220px);
	transform: translateX(-220px);
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	transition: all 0.25s linear;
	background: #4A2E2B;
	z-index: 998;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
.sliding-nav ul {
	padding: 0;
	margin: 0;
}
.sliding-nav li {
	list-style: none;
}
/*.sliding-nav li:first-child {
  margin-top: 50px;
  }*/
  .sliding-nav li a {
  	color: #F4E8D1;
  	display: block;
  	font-weight: bold;
  	text-decoration: none;
  }
  .sliding-nav li a:focus {
  	background-color: #4d4d4d;
  }
  .sliding-nav li a:hover {
  	background-color: #BC6324;
  	color: #fff;
  }
  .sliding-nav.is-visible {
  	-webkit-transform: translateX(0);
  	-moz-transform: translateX(0);
  	-ms-transform: translateX(0);
  	-o-transform: translateX(0);
  	transform: translateX(0);
  }

  .fade-screen {
  	position: fixed;
  	top: 0px;
  	right: 0px;
  	bottom: 0px;
  	left: 0px;
  	-webkit-transition: all 0.15s ease-out 0s;
  	-moz-transition: all 0.15s ease-out 0s;
  	transition: all 0.15s ease-out 0s;
  	background: #4A2E2B;
  	opacity: 0;
  	visibility: hidden;
  	z-index: 997;
  }
  .fade-screen.is-visible {
  	opacity: 0.4;
  	visibility: visible;
  }

  .sliding-nav-button {
  	padding: 10px 16px;
  	display: inline-block;
  	cursor: pointer;
  	position: relative;
  	outline: none;
  }
  .sliding-nav-button img {
  	height: 1.3em;
  }
  .burgermenu{
  	width: 220px;
  }

  /* -- Hello -- */
  #Hello{
  	height: 1000px;
  	background: url(../images/img/main_26.svg) 50% 0 fixed;
  	background-size: contain;
  	background-color: #C06926;
  	overflow: hidden;
  }
  #Hello .content1{
  	text-align: center;
  	margin-top:7.5%; 
  }

  /* -- About -- */
  #About{
  	height: 700px;
  	background: url(../images/img/main_27.svg)50% 0 no-repeat fixed;
  	background-size: 100%;
  	background-color: #F6D792;
  	overflow: hidden;
  }
  #abouteg{
  	position: relative;
  	margin: 100px auto;
  }
  .abouteg1{
  	text-align: center;
  }
  .abouteg2{
  	padding:120px 0 0 20px;
  }
  #About h3{
  	font-size: 22px;
  	letter-spacing: 0.2em;
  	color: #4A2E2B;
  }
  #About h4{
  	font-size: 16px;
  	letter-spacing: 0.05em;
  	line-height: 1.5em;
  	color: #4A2E2B;
  }
  #About p{
  	font-size: 13px;
  	color: #E78F20;
  	line-height: 1.5em;
  }

  .btn-default {
  	color: #E78F20;
  	background-color: transparent;
  	border-color: #E78F20;
  }
  .btn-default:hover {
  	color: #F4E8D1;
  	background-color: #E78F20;
  	border-color: #E78F20;
  }
  input, textarea{
  	width: 100%;
  	padding: 10px;
  	color: #4A2E2B;
  	border: none;
  }
  input{
  	height: 40px;
  	font-size: 16px;
  	border-bottom:1px solid #ddd; 
  }


  /* -- Works -- */
  #works{
  	width: 100%;
  }
  #works a:hover{
  	opacity: 0.6;
  }
  #APPWebDesign{
  	background: #208467;
  	overflow: hidden;
  }
  #GraphicDesign{
  	background: #D03C3C;
  	overflow: hidden;
  }
  #Illustration{
  	background: #EBB024;
  	overflow: hidden;
  }
  #DailyUI{
  	background: #4A2E2B;
  	overflow: hidden;
  }

  /* -- workpage -- */

  #mainAD-bg{
  	background:#208467;
  	height: 100%;
  }

  #head-works-icon{
  	position: relative;
  	margin:10px auto;
  }
  .img19080{
  	width: 190px;
  }
  #head-works{
  	background: url(../images/img/main_28.svg);
  	background-size: cover;
  	height: 180px;
  	width: 100%;
  	margin:0 auto;
  	position: fixed;
  	display: block;
  	top:0;
  	z-index: 8;
  	overflow: hidden;
  	box-shadow: 5px 0px 30px rgba(0,0,0, .3);
  	text-align: center;
  }
  #mark{
  	margin:auto;
  	width: 260px;
  	text-align: center;
  }
  #mark ul li {
  	float: left;
  	list-style-type: none;

  }
  #mark ul li a{
  	padding: 8px;
  	color: #F4E8D1;
  }
  .line{
  	margin-top:1px; 
  	width:1px;
  	height:16px;
  	background:#F4E8D1;
  }
  #roll-works{
  	position:fixed;
  	left:2%;
  	top:125px;
  	z-index: 7;
  	list-style-type:none;
  }
  .content{
  	padding:170px 3% 3% 3%;
  	width: 80%;
  	position: relative;
  	margin: 0 auto;
  	margin-bottom: 40px;
  	background:#fff;
  	box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  	z-index: 6;
  }


  /* --------------------- <768 --------------------- */

  @media (max-width: 768px){
  	.img100{
  		width: 100%;
  	}
  	.img80{
  		width: 80%;
  	}	
  	.img60{
  		width: 60%;
  	}	
  	.img80100{
  		width: 80%;
  	}
  	#roll{
  		display: none;
  	}
  	#roll-works{
  		display: none;
  	}

  	.burger-box{
  		display: block;
  	}
  	#Hello{
  		height: 1200px;
  	}
  	#Hello .content1{
  		margin-top:25%; 
  	}
  	#About{
  		height: 950px;
  	}
  	.abouteg2{
  		text-align: center;
  		padding:20px 0;
  	}
  }

  /* --------------------- <478 --------------------- */

  @media (max-width: 478px){
  	.img80100{
  		width: 100%;
  	}
  	.img19080{
  		width: 80%;
  	}
  	#Hello{
  		background-image: url(../images/img/main_1.svg);
  		height: 700px;
  	}
  	#Hello .content1{
  		margin-top:35%; 
  	}
  	#About{
  		background-image: url(../images/img/main_2.svg);
  		background-attachment: initial;
  		height: 750px;
  	}
  	.abouteg2{
  		padding:20px 30px;
  	}
  	footer{
  		clear: both;
  	}
  	footer p{
  		font-size: 12px;
  	}
  	/* -- workpage -- */
  	#head-works{
  		background: url(../images/img/main_3.svg) no-repeat;
  		height: 700px;
  		z-index: 7;
  		position: relative;
  	}
  	#head-works-icon{
  		top:35%;
  	}
  	.content{
  		padding:20px;
  		margin-bottom: 20px;
  		width: 90%;
  	}
  }











