/* CSS -------------------------------------------- */

body{
	background:#C06926;
	font-family: "Microsoft JhengHei", sans-serif;
	font-size: 14px;
}

#main{
	width:100%;
	margin:0 auto;
	background:#fff;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-right: 0px;
	padding-left: 0px;
}

footer{
	width: 100%;
	background: url(../images/img/main_26.png) 50% 0 fixed;
	background-size: contain;
	overflow: hidden;
}
footer p{
	color: #f4E8D1;
	text-align: center;
	font-size: 14px;
	font-weight: normal;
	margin: 30px 0;
}


/* -- MENU -- */
#roll {
	display:block;
	position:fixed;
	left:2%;
	list-style-type:none;
	z-index: 1;
}

.a70:hover{
	opacity: 0.7;
}

/* -- Hello -- */
#Hello{
	height: 800px;
	background: url(../images/img/main_26.png) 50% 0 fixed;
	background-size: contain;
	background-color: #C06926;
	overflow: hidden;
}
#Hello .content{
	text-align: center;
	margin-top:7.5%; 
}

/* -- About -- */
#About{
	height: 700px;
	background: url(../images/img/main_27.png)50% 0 no-repeat fixed;
	background-size: 100%;
	background-color: #F6D792;
	overflow: hidden;
}
#abouteg{
	position: relative;
	margin: 100px auto;
}
.abouteg1{
	text-align: center;
}
.abouteg2{
	padding:120px 0 0 20px;
}
.abouteg2 h3{
	font-size: 22px;
	letter-spacing: 0.2em;
	color: #4A2E2B;
}
.abouteg2 h4{
	font-size: 16px;
	letter-spacing: 0.05em;
	line-height: 1.5em;
}
.abouteg2 p{
	font-size: 13px;
	color: #E99f3a;
	line-height: 1.5em;
}

.btn-default {
	color: #EEB81A;
	background-color: transparent;
	border-color: #EEB81A;
}
.btn-default:hover {
	color: #F4E8D1;
	background-color: #E99f3a;
	border-color: #E99f3a;
}
input, button, textarea{
	width: 100%;
	padding: 10px;
	color: #4A2E2B;
}
input{
	height: 40px;
	font-size: 16px;
}


/* -- Works -- */
#works{
	width: 100%;
}
#APPWebDesign{
	overflow: hidden;
}
#GraphicDesign{
	overflow: hidden;
}
#Illustration{
	overflow: hidden;
}
#DailyUI{
	overflow: hidden;
}

/* --------------------- <768 --------------------- */

@media (max-width: 768px){
	.img100{
		width: 100%;
	}
	.img80{
		width: 80%;
	}	
	.img60{
		width: 60%;
	}	
	.img80100{
		width: 80%;
	}
	#Hello{
		height: 1200px;
	}
	#Hello .content{
		margin-top:25%; 
	}
	#About{
		height: 950px;
	}
	.abouteg2{
		text-align: center;
		padding:20px 0;
	}
}

/* --------------------- <478 --------------------- */

@media (max-width: 478px){
	.img80100{
		width: 100%;
	}
	#Hello{
		background-image: url(../images/img/main_1.png);
		height: 800px;
	}
	#Hello .content{
		margin-top:35%; 
	}
	#About{
		background-image: url(../images/img/main_2.png);
		height: 750px;
	}
	.abouteg2{
		padding:20px 30px;
	}
	footer{
		clear: both;
	}
}











